asgiref==3.11.1
certifi==2026.2.25
dj-database-url==1.0.0
Django==5.2.11
django-cors-headers==4.9.0
geopandas==1.1.2
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pyogrio==0.12.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3

gunicorn==21.2.0
python-dotenv==1.0.1
psycopg2==2.9.11
